#centerlist {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

#unordered {
  list-style: none;
  border-top: 1px solid gray;
  padding: 0;
  margin: 0;
}

.flexs {
  display: flex;
}

.fa {
  color: gray !important;
}

#class-box {
  background-color: white;
  width: 50%;
  box-shadow: 20px 20px 50px 15px grey;
}

#head {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  margin: 0;
  padding: 15px 0.8rem;
  font-size: large;
  font-weight: 500;
}

#input {
  width: 95%;
  height: 50px;
  border: none;
}

#input:focus {
  outline: none;
}

.lists {
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
  height: 50px;
  padding: 0 0.8rem;
}

.listmarg {
  margin-left: 0.8rem;
  height: 100%;
  display: flex;
  align-items: center;
  width: 20rem;
}

#complete {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8e8e8;
  height: 3.2rem;
}

#comp {
  color: #909090;
}

#comp:hover {
  color: #696969;
  text-decoration: underline;
  cursor: pointer;
}

.edit {
  width: 95%;
  height: 96%;
  border: none;
}

.edit:focus {
  outline: none;
}

.move {
  cursor: move;
}

.point {
  cursor: pointer;
}

.check {
  outline: 1px solid #808080;
}

.height {
  height: 100%;
  display: flex;
  align-items: center;
}

.border {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.canceltext {
  text-decoration: line-through;
}